

.titlecontainer {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.8rem;
}
.contentscontainer {
  display: flex;
  width: 100%;
  height: 85%;
}
.mobilecontents {
  display: block;
}

.idcontainer {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
  padding: 2rem ;
}

.jiancontainer {
  width: 50%;
  height: 100%;
  position: relative;
}

.mobileid,
.mobilejian {
  width: 100%;
  height: 50%;
}

.jianimage {
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.heart {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.heart1 {
  width: 2rem;
  animation: heart1 2s ease-in-out infinite;
}
.heart2 {
  width: 1.7rem;
  animation: heart2 2s ease-in-out infinite;
  animation-delay: 0.5s;
}
.heart3 {
  width: 1.5rem;
  animation: heart3 2s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes heart1 {
  0% {
    transform: scale(0) translate(-40%, -50%);
  }

  100% {
    transform: scale(1) translate(-400%, -400%) rotate(-20deg);
  }
}

@keyframes heart2 {
  0% {
    transform: scale(0) translate(-40%, -50%);
  }
  100% {
    transform: scale(1) translate(350%, -450%) rotate(30deg);
  }
}

@keyframes heart3 {
  0% {
    transform: scale(0) translate(-40%, -50%);
  }
  100% {
    transform: scale(1) translate(400%, -200%) rotate(45deg);
  }
}

.btn {
  color: #ffffff;
  background-color: var(--selectBgColor);
  border: none;
  border-radius: 2.5rem;
  padding: 0;
  width: 8em;
  height: 3rem;
  font-family: "Kyobo Handwriting 2019", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contentscontainer {
    display: block;
  }
  .idcontainer,
  .jiancontainer {
    width: 100%;
    height: 50%;
  }

  .jianimage {
    right: 50%;
    transform: translateX(50%);
  }

  .btn {
    width: 7.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
  }
}
