.lists{
  width:100%;
  padding: 1.5rem;
  height: 75%;
  overflow: auto;
}


.formcontainer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttoncontainer{
  width:100%;
  height:10%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.checkedbtn{

  width: 30%;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: var(--subBtnColor);
  border:none;
  border-radius:0.5rem;
    font-family: var(--defaultFont);
}


@media(min-width: 1024px){
  .lists{
  width: 85%;
  height: 70%;
    margin: 0 auto;
}

.list {
  padding: 0.8rem 0 0.8rem 4rem;
  border-bottom : 1px dashed var(--subFontColor);
  color: var(--mainFgColor);
  font-size: 1.3rem;
}
.formcontainer {
  width: 85%;
  margin: 0 auto;
}
}

@media(max-width:390px){
  .checkedbtn{
    width: 50%;
  }
}