.contentscontainer{
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content:center;
  align-items:center;

}

.contentscontainer::-webkit-scrollbar{
 width:0;
}

.imagecontainer{
  width:50%;
  height: 100%;
  position: relative;

}


.form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
}

.file{
 display:none;
}

.filelabel{
    margin: 0.5rem;
    padding: 0.5rem 2rem;
  font-size:1.2rem;
  background-color: var(--subBtnColor);
  color:#ffffff;
  letter-spacing:3px;
  border-radius:0.5rem;
  cursor:pointer;
}

.select{
  width: 50%;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius:0.5rem;
  border : 2px solid var(--mainFgColor);
  font-size: 1rem;
}

.text {
  margin: 0.5rem 0;
  width: 90%;
  height: 2.5rem;
  padding:  0.5rem;
  font-size: 1rem;
  border : 2px solid var(--mainFgColor);
  border-radius: 0.5rem;
}

.textarea{
  height: 5rem;
}
.optioncontainer{
  width:100%;
  margin: 0.5rem 0;
  display:flex;
    justify-content: flex-start;
  align-items: center;
  color: var(--mainFgColor);
}

.optioncontainer>label,p{
  font-size: 1.1rem;
}

.optioncontainer>input{
  margin:0 0.5rem;
}

.basic_sample{
  width: 50px;
  height: 50px;
  background-color:#ffffff;
}

.sample{
  width: 50px;
}

.sample:hover{
  transform: scale(2);
}

.submitbtn{
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 90%;
  height: 2.5rem;
  font-size: 1.1rem;
  border : none;
  background-color: var(--mainBtnColor);
  border-radius: 0.5rem;
  font-family: var(--defaultFont);
  color: #ffffff;
    letter-spacing:3px;
    cursor:pointer;
}

@media(max-width:768px){
  .contentscontainer{
    display: block;
  }
  .imagecontainer{
    margin: 0 auto;
    width: 85%;
    height: 500px;
  }
  .form{
    width: 90%;
    height: auto;
    align-items: center;
    padding: 0;
    margin: 1.5rem auto;
  }
}

