.container{
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}

.imagecontainer{
  width: 100vw;
  height: 100vh;
display: flex;
flex-direction:column;
align-items: center;
justify-content:center;
}

.deletebtn{
  padding: 0.3rem 1rem;
  margin: 0.5rem 0 1.5rem 0;
  border:none;
  border-radius:2rem;
  background-color: red;
  color:#ffffff;
}

.image {
  margin-bottom: 1rem;
  height: 87%;
  object-fit: cover;
}




@media (max-width: 595px) {
  .image {
    width: 100%;
    object-fit: contain; 
  }
  .deletebtn{
  padding: 0.5rem 1.2rem;
    margin:0;
}
}