
.imagecontainer {
  overflow: hidden;
  border-radius: 0.8rem;
  position: relative;
}
.sampleimage {
  width: 350px;
  height: 524px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selectedimage {
  width: 1200px;
  height: 1800px;
  
}

.contents {
  position: absolute;
  z-index: 4;
  overflow: hidden;
}

.samplecontents {
  width: 280px;
  height: 100px;
  left: 20px;
  top: 420px;
}

.selectedcontents {
  width: 930px;
  height: 335px;
  left: 70px;
  top: 1450px;
}

.contents::-webkit-scrollbar {
  width: 0;
}

.contents > p,
pre {
  color: #000000;
  white-space: pre-line;
}

.sampletext {
  margin: 0.1rem 0.3rem;
  font-size: 1.2rem;
    text-shadow: 1px 0 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff,
    0 -1px 0 #ffffff;
}

.sampletextarea {
  line-height: 1.1;
  font-size: 1.2rem;
    text-shadow: 1px 0 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff,
    0 -1px 0 #ffffff;
}

.selectedtext {
  margin: 0.5rem 1.5rem;
  font-size: 4rem;
    text-shadow: 3px 0 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff,
    0 -3px 0 #ffffff;
}

.selectedtextarea {
  line-weight: 1.3;
  font-size: 4rem;
    text-shadow: 3px 0 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff,
    0 -3px 0 #ffffff;
}

.film {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.photocontainer {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: -1;
}
.samplephoto {
  width: 320px;
  height: 427px;
}

.selectedphoto {
  width: 1084px;
  height: 1440px;
  left: 55px;
}

.photo {
  width: 100%;
  height: 100%;
}

@media (max-width: 450px) {
  .sampleimage {
    width: 300px;
    height: 450px;
  }
  .samplephoto {
    width: 275px;
    height: 366px;
    left: 10px;
  }
  .samplecontents {
    top: 365px;
  }
  .sampletext , .sampletextarea{
    font-size: 1rem;
  }
}

@media (max-height: 700px) and (min-width: 450px) {
  .sampleimage {
    margin-top: 4rem;
  }
}
