.container{
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}

.contentscontainer{
  width: 18rem;
  height:12rem;
  background-color:var(--pageColor);
  border-radius: 0.5rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 0.8rem;
    text-align: center;
}

.cancle {
  text-align: right;
  padding: 0.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.content{
  font-size: 1.1rem;
  margin: 2rem 0 0.8rem 0;
  color: var(--navColor);
}





.submitbtn{
  background-color: var(--subBtnColor);
  color:#ffffff;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border:none;
  padding: 0.3rem 0.7rem; 
  cursor:pointer;
  font-family: "Kyobo Handwriting 2019", sans-serif;
}